
@{
    ViewBag.Title = "Complete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Product Added successfully</h2>
<a href=@Url.Action("Index", "AddNewProduct")><p>Return to addProduct page</p></a>

