
@{
    ViewBag.Title = "Add Product";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="centerText" style="margin:10px 0px 40px 0px">Add a Product</h1>

<form method="post" action="@Url.Action("addProduct", "AddNewProduct")" style="width:100%">

    <div style="margin-left: auto; margin-right: auto;margin-top:30px">
        <select class="selectCategoryList" id="selectPart" name="product">
            <option>Air Cooler</option>
            <option>Case Fan</option>
            <option>Computer Processing Unit</option>
            <option>Graphics processing Unit</option>
            <option>Hard Drive</option>
            <option>Headset</option>
            <option>Keyboard</option>
            <option>Liquid Cooler</option>
            <option>Microphone</option>
            <option>Motherboard</option>
            <option>Monitor</option>
            <option>Mouse</option>
            <option>Mousepad</option>
            <option>PC</option>
            <option>PC Chassis</option>
            <option>Power Supply</option>
            <option>Random Access Memory</option>
            <option>Solid State Drive</option>
            <option>Speaker</option>
        </select>
        <button style="margin-top:30px" class="AddEditButton centerImage" type="submit">Add Part</button>
    </div>

</form>

