@using CyberLlamaConsumerSite.ServiceReference1;
@{
    ViewBag.Title = "Profile";
    ServiceClient sc = new ServiceClient();


    int NIB = 0;
    double spent = 0;
    int points = 0;

    dynamic list = sc.getAllInvoices(Convert.ToInt32(Session["UserID"]));
    if (list != null){
        foreach (cInvoice i in list)
        {
            c_ProductPageInfo part = sc.getPart(i.pc_ID);

            NIB++;
            spent += (part.price*part.Quantity);
        }

        points = (int)(spent / 1000);
    }

    <figure class="card-profile-image">
        <img class="centerImage" Style="margin-top:4%;" src="~/Images/llama.png" />
    </figure>


    <div class="card-content">
        <div class="row">
            <div class="col s3 offset-s2">
                <h4 id="username" runat="server" class="card-title grey-text text-darken-4"></h4>
                <p id="usertype" runat="server" class="medium-small grey-text"></p>
            </div>

            <div class="col s2 center-align">
                <h4 class="card-title grey-text text-darken-4">@(NIB)</h4>
                <p class="medium-small grey-text">Items Bought</p>
            </div>


            <div class="col s2 center-align">
                <h4 class="card-title grey-text text-darken-4">R@(spent)</h4>
                <p class="medium-small grey-text">Total Spent</p>
            </div>

            <div class="col s2 center-align">
                <h4 class="card-title grey-text text-darken-4">@(points)</h4>
                <p class="medium-small grey-text">Your Points</p>
            </div>
        </div>
    </div>
}

