@using CyberLlamaConsumerSite.ServiceReference1;
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ServiceClient sc = new ServiceClient();
    string id = (string)ViewContext.RouteData.Values["id"];


    c_ProductPageInfo part = sc.getPart(Convert.ToInt32(id));

    String imageLink = part.image;
    String model = part.model;
    int price = part.price;
    int quantity = part.Quantity;

    <h2 style="text-align:center"> Product Info </h2>
    <hr style="color:white;" />

    <div class="row">
        <div class="col" style="text-align:center">
            <img src="@(imageLink)" alt="Ram" style="width:80%; height:60%">

            <p class="price" style="font-size:200%">R@(price)</p>
            <p style="font-size:150%">Quantity: @(quantity)</p>
            <p style="font-size:150%"><button class="addCartLink" href=@Url.Action("AddToCart", new { ID = part.ID })>Add to Cart</button></p>
        </div>
        <div class="col">
            <h3 style="text-align:center">Details</h3>

        </div>
    </div>
}

