@{
    ViewBag.Title = "FAQs";
}

<h2 class="centerText titleText">Frequently Asked questions</h2>
<hr width="50%" color="purple" />
<div class=" centerText-Max1000">
    <p>
        <b>Can I return your product if I don't like it?</b> <hr width="10%" color="grey" />
        
        yes, you can return the product within 10 days,we will give you another product or refund you
    </p>
    <p>
        <b>Where is your warehouse located?</b> <hr width="10%" color="grey" />

        Our Warehouse is at University of Johannesburg
    </p>
    <p>

        <b>Do you have pick up points in every province in South Africa?</b> <hr width="10%" color="grey" />

        
        Unfortunetely we only have one pick up point which is in Johannesburg however we deliver everywhere in South Africa and neighbouring countries such Botswana and Lesotho
    </p>
    <p>

        <b> Can you help me assembly my laptop if I come with my own computer parts?</b> <hr width="10%" color="grey" />

       
        We help our customers build a laptop from scretch, all computer parts must come from us
    </p>
    <p>

        <b> What happeneds when the products I bought or ordered are delivered at wrong address?</b> <hr width="10%" color="grey" />
       
        We will not leave the product/s at any house or address if the customer is not there to sign the receipt
    </p>
    <p>

        <b>Do you charge for delivery?</b> <hr width="10%" color="grey" />
        <b>
            Do you charge for delivery?
        </b><br />
        We deliver for free if you are less than 25Km away from our warehouse, if you are more than 25km away from our<br />
        warehouse we charge R10 for every kilometer.
    </p>
    <p>

        <b> Is it must to tip the driver?</b> <hr width="10%" color="grey" />
       
        No, it is your choice to tip the driver
    </p>
    <p>

        <b> Can I pay cash?</b> <hr width="10%" color="grey" />
        
        Unfortunetely our payments are made electronically except tip for a driver
    </p>
    <p>
        <b>Is it possible to be involved in the process of building the PC?</b> <hr width="10%" color="grey" />
        
        You are more than welcome to join our crew when they build your Computer
    </p>
    <p>
        <b> Do you have physical stores?</b> <hr width="10%" color="grey" />
       
        We are 100% eBusiness
    </p>
    <p>
        <b>Do you have promotions?</b> <hr width="10%" color="grey" />
        
        Yes, we do have promotions, <a href="">click here</a> for our  every month promotions

    </p>


</div>

<h4 class="centerText titleText">Did you find answers you were looking for if not contact us</h4>
<hr width="50%" color="purple" />

<div class="row" style="margin-top:3%;">
    <div class="col-md-6 smallMargin-top">
        <div class="borderedElement centerText-Max1000" style="margin-left: auto; margin-right: auto;">
            <a class="navbar-brand" href=@Url.Action("Index", "Contact") title="Contact Us"><img class="centerImage" src="/Images/contactIcon.png" /></a>
            <hr width="30%" color="purple" />
            <h5 class="centerText">Give Us a Call!</h5>
            <p>
                <b>Phone:</b> 0724278976<br />
                <b>Email:</b><br />
                <ul>
                    <li>Help: help@cyberLlama .co.za</li>
                    <li>Sales: Sales@cyberLlama .co.za</li>
                    <li>Query: info@cyberLlama .co.za</li>
                </ul>
            </p>
        </div>
    </div>
    <div class="col-md-6 smallMargin-top">
        <div class="borderedElement centerText-Max1000" style="margin-left: auto; margin-right: auto;">
            <a class="navbar-brand" href=@Url.Action("Index", "Contact") title="Contact"><img class="centerImage" src="/Images/contactIcon.png" /></a>
            <hr width="30%" color="purple" />
            <h5 class="centerText">Pay us a visit</h5>
            <p>
                <b>Johannesburg :</b> 78 Melville Road Illovo Sandton 2196<br />
                <b>Cape Town :</b> 35 Main street Green Point Cape Town 8051<br />
                <b>Durban :</b> 9 McCausland Cres Umhlanga 4320<br />
            </p>
        </div>
    </div>
</div>



