@{
    <!--Add the title for the page-->
    ViewBag.Title = "About";
}
<!--Add the first Title Heading-->
<h2 class="titleText">About CyberLlama</h2>
<hr width="50%" color="purple" />
<!--create the 3 About us Boxes-->
<div class="row" style="margin-top:3%;">
    <!--Sign Up Box-->
    <div class="col-md-4 smallMargin-top">
        <div class="borderedElement">
            <a class="navbar-brand" href=@Url.Action("Index", "SignUp") title="Sign Up Now"><img class="centerImage" src="/Images/signUpIcon.png" /></a>
            <hr width="30%" color="purple" />
            <h5 class="centerText">The 4th industrial revolution</h5>
            <p>
                Earth has entered a new era full of great technological advancements in imformation technology, robotics, AI and computing.
                <hr width="30%" color="purple" />
                CyberLlama is here to help you with all your computing needs. <br />
                So join us and let us help you move foreward in the greatest revolution of all time.
            </p>
        </div>
    </div>
    <!--Components Box-->
    <div class="col-md-4 smallMargin-top">
        <div class="borderedElement">
            <a class="navbar-brand" href=@Url.Action("Index", "Components") title="Shop Components Now"><img class="centerImage" src="/Images/shoppingCartIcon.png" /></a>
            <hr width="30%" color="purple" />
            <h5 class="centerText">Innovative Solutions</h5>
            <p>
                CyberLlama strives to deliver the best, newest and cheapest products to your doorstep.
                <hr width="30%" color="purple" />
                CyberLlama offers deliveries to the whole of South Africa and has warehouses situated in Cape-Towm, Johannesburg and Durban
            </p>
        </div>
    </div>
    <!--Build PC Box-->
    <div class="col-md-4 smallMargin-top">
        <div class="borderedElement">
            <a class="navbar-brand" href=@Url.Action("Index", "BuildPC") title="Build PC Now"><img class="centerImage" src="/Images/buildIcon.png" /></a>
            <hr width="30%" color="purple" />
            <h5 class="centerText">Build Your own PC</h5>
            <p>
                CyberLlama offers services for building your custom PC's based on your personal preferences
                <hr width="30%" color="purple" />
                We offer products for all your business, gaming or developing needs with a wide range of pre built PC's
            </p>
        </div>
    </div>
</div>
<!--Create the Center OurStorySection-->
<h2 class="centerText titleText">Our Story</h2>
<hr width="50%" color="purple" />
<div class="centerText-Max1000">
    <p>
        CyberLlmama founded in January 2014 by Matthew Hoy, Peter Jordaan, Neo Mulaudzi and Louis John Hassett is a Computer and Tech company specializing in Computers. <hr width="10%" color="grey" />
        We have grown rapidly sinse 2014 and are now proud to own 7 state of the art warehouses spread accross South Arfrica. <hr width="10%" color="grey" />
        We employ upwards of 10 000 trained professionals who work around the clock to make sure our customers more than satisfied. <hr width="10%" color="grey" />
        We are always looking into the next step foreward and are always trying to bring you the best product faster and cheaper.
        Our Delivery systems have grown extremely rapidly over the years and are now proud to say that we have the best delivery system in South Africa.
        It is for this reason that CyberLlama will be investing heavily in reasearch of self driving cars and Aftificial intelligence over the next few Years.
    </p>
</div>
<!--Create the Mission Section-->
<h2 class="centerText titleText">Our Mission</h2>
<hr width="50%" color="purple" />
<div class="centerText-Max1000">
    <p>
        <b>WORLD WIDE DOMINATION</b> <hr width="10%" color="grey" />
        CyberLlama plans to grow into one of the largest tech companies in the World. We plan to do it by embrasing the 4th industrial revolution
        and investing heavily into reseach of technologies such as AI. CyberLlama's head office in Johannesburg will be opening our first Research
        facility in June 2021
    </p>
    <p>
        <b>THE INETRNET OF THINGS</b> <hr width="10%" color="grey" />
        CyberLlama plans to become the larges tech company by investing in telecommunications, servers and Data Software.
        We believe that in order to grow, you need to be heard and that is why CyberLlama in 2018 has become highly web based.
        Our Mission is to become a primary supplier of telecommunications solutions in South Africa
    </p>
</div>
<!--Create the Contact section-->
<h2 class="centerText titleText">Get In Contact</h2>
<hr width="50%" color="purple" />
<!--add 2 boxes for contact and for address-->
<div class="row" style="margin-top:3%;">
    <div class="col-md-6 smallMargin-top">
        <div class="borderedElement centerText-Max1000 " style="margin-left: auto; margin-right: auto;">
            <a class="navbar-brand" href=@Url.Action("Index", "Contact") title="Contact Us"><img class="centerImage" src="/Images/contactIcon.png" /></a>
            <hr width="30%" color="purple" />
            <h5 class="centerText">Give Us a Call!</h5>
            <p>
                <b>Phone:</b> 0724278976<br />
                <b>Email:</b><br />
                <ul>
                    <li>Help: help@cyberLlama .co.za</li>
                    <li>Sales: Sales@cyberLlama .co.za</li>
                    <li>Query: info@cyberLlama .co.za</li>
                </ul>
            </p>
        </div>
    </div>
    <div class="col-md-6 smallMargin-top">
        <div class="borderedElement centerText-Max1000" style="margin-left: auto; margin-right: auto;">
            <a class="navbar-brand" href=@Url.Action("Index", "Contact") title="Contact"><img class="centerImage" src="/Images/contactIcon.png" /></a>
            <hr width="30%" color="purple" />
            <h5 class="centerText">Come On In</h5>
            <p>
                <b>Johannesburg :</b> 78 Melville Road Illovo Sandton 2196<br />
                <b>Cape Town :</b> 35 Main street Green Point Cape Town 8051<br />
                <b>Durban :</b> 9 McCausland Cres Umhlanga 4320<br />
            </p>
        </div>
    </div>
</div>
