
@{
    ViewBag.Title = "About";
    
}
<h3 class="titleText">About CyberLlama</h3>
<hr width="50%" color="purple" />
<div class="row" style="margin-top:5%;">
    <div class="col-md-4">
        <div class="borderedElement">
            <h5>The 4th industrial revolution</h5>
            <p>
                Earth has entered a new era full of great technological advancements in imformation technology, robotics, AI and computing.
                <hr width="30%" color="purple" />
                CyberLlama is here to help you with all your computing needs. <br />
                So join us and let us help you move foreward in the greatest revolution of all time.
            </p>
        </div>
    </div>
    <div class="col-md-4">
        <div class="borderedElement">
            <h5>Innovative Solutions</h5>
            <p>
                CyberLlama strives to deliver the best, newest and cheapest products to your doorstep.
                <hr width="30%" color="purple" />
                
                
            </p>
        </div>
    </div>
        <div class="col-md-4">
            <div class="borderedElement">
                <h5>The 4th industrial revolution</h5>
                <p>
                    Earth has entered a new era full of great technological advancements in imformation technology, robotics, AI and computing.
                    <hr width="30%" color="purple" />
                    CyberLlama is here to help you with all your computing needs
                    <hr width="30%" color="purple" />
                    So join us and let us help you move foreward in the greatest revolution of all time.
                </p>
            </div>
        </div>
    </div>
