
@{
    ViewBag.Title = "ChangeEmployee";
}
<figure class="card-profile-image">
    <img class="centerImage" Style="margin-top:4%;" src="~/Images/llama.png" />
</figure>

<h1 class="centerText">User Details have been Changed</h1>
<input style="margin-top:50px;" type="button" class="AddEditButton centerImage" onclick="location.href='@Url.Action("Index", "Home")'" value="Return to Home Page" />

