@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-md-4">
        <h2>Welcome to the home pages</h2>
        <p>
             When the user firsts logs in, this is what they will see
        </p>
    </div>
    <div class="col-md-4">
        <h2>More info</h2>
    </div>
    <div class="col-md-4">
        <h2>More info</h2>
    </div>
</div>