
@{
    ViewBag.Title = "Complete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Product Eddited successfully</h2>
<a href=@Url.Action("Index", "EditProduct")><p>Return to EditProduct page</p></a>

