body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.bg-dark {
    background-color: purple !important;
}

.navbar .navbar-dark {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}


.navbar-dark .navbar-toggler {
    color: rgba(255, 255, 255, 1) !important;
    border-color: rgba(255, 255, 255, 1) !important;
}

.navbar-dark .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='rgba(255, 255, 255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;
}

.nav-link {
    color: white !important;
    font-size: 80%;
    padding-bottom: 0px;
}

.nav-item {
    float: left;
    padding: 5px;
    color: white;
    text-decoration: none;
    width: 50%; /* Four equal-width links. If you have two links, use 50%, and 33.33% for three links, etc.. */
    text-align: center; /* If you want the text to be centered */ 
}

.navbar-nav {
    width: 100%;   
}

.nav-link:hover {
    color: black !important;
}

.body {
    color: #bfbfbf !important;
}

.jumbotron {
    border-radius: 0 !important;
    background-image: url("/Images/JumboTron-Background.jpg") !important;
    background-repeat: no-repeat;
    background-size: 100%;
    color: white;
}

.MenuIcon {
    width: 30px;
    margin-right: 5px;
}

@media (max-width: 768px) {
    .MenuIcon {
        display: none;
    }
}